.c1{
    background-color: green;
    width: 50px;
    height: 50px;
    border-color: black;
    text-align: center;
    margin: auto;
}
.c2{
    background-color: white;
    border-color: blue;
    border-width: 5px;
    border-style: solid;
    width: 50px;
    height: 50px;
    margin:auto;
    text-align: center;
}
